

<div class="centre-button text-center" style="padding-top:150px">
    
    <button class="btns" onclick="location.href='@Url.Action()'">Retrieve Contacts</button><br />
    <button class="btns" onclick="location.href='@Url.Action()'">Update Contact</button><br />
    <button class="btns" onclick="location.href='@Url.Action("AddContact","Contact")'">Register Contact</button>
        
</div>