


<script src="~/Scripts/jquery-1.10.2.js"></script>

<form id="formContact">



   
        <h2>Contact List</h2>

        <table class="table table-bordered table-hover">
            <thead>
                <tr>

                    <th>
                        Title :- <input type="text" name="Title" id="Title" />
                    </th>
                    <th>
                        Name :- <input type="text" name="Name" id="Name" />
                    </th>
                    <th>

                        Surname :- <input type="text" name="Surname" id="Surname" />
                    </th>
                    <th>
                        CellNumber :- <input type="text" name="CellNumber" id="CellNumber" />
                    </th>
                    <th>
                        Telephone:- <input type="text" name="Telephone" id="Telephone" />
                    </th>
                    <th>
                        Email:- <input type="text" name="Email" id="email" />
                    </th>
                    <th>
                        <input type="button" id="btnSubmit" value="Submit" />
                        location.reload();
                    </th>
                   
                </tr>
            </thead>
            <tbody class="tbody"></tbody>
        </table>
    


</form>


















<script>





    $("#btnSubmit").click(function () {

        var _data = $('#formContact').serialize();
        $.post("http://localhost:61964/api/Contacts/AddContact", _data)
            .done(function (response) {

                // alert(response);
                alert("Success")

                console.log(response);
            }).error(function (a, b, c) {
                alert(b.responseText);
            });
    });



</script>




