


<script src="~/Scripts/jquery-1.10.2.js"></script>

<form id="formContact">

    Title :- <input type="text" name="Title" id="Title" />
    Name :- <input type="text" name="Name" id="Name" />

    Surname :- <input type="text" name="Surname" id="Surname" />
    CellNumber :- <input type="text" name="CellNumber" id="CellNumber" />

    Telephone:- <input type="text" name="Telephone" id="Telephone" />

    Email:- <input type="text" name="Email" id="email" />

    <input type="button" id="btnSubmit" value="Submit" />



</form>





<script>



    

    $("#btnSubmit").click(function () {

        var _data = $('#formContact').serialize();
        $.post("http://localhost:61964/api/Contacts/AddContact", _data)
            .done(function (response) {

                // alert(response);
                alert("Success")

                console.log(response);
            }).error(function (a, b, c) {
                alert(b.responseText);
            });
    });


    
</script>




